<div class="d-flex text-center h-100">
    <div class="container d-flex p-3 mx-auto flex-column h-100">
        <app-navbar></app-navbar>

        <main class="mt-5 px-5 h-100">
            <h1>Angular Laravel</h1>
            <p class="lead">Projeto com frontend em Angular e backend em Laravel</p>

            <section class="px-5 my-5">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Programador</th>
                            <th scope="col">Nível</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Júnior</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Otto</td>
                            <td>Pleno</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>Senior</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>

        <app-footer></app-footer>

    </div>

</div>