<div class="container">
  
    <div class="d-flex justify-content-between">
      <h4>Editar Nível</h4>
      <a href="#" routerLink="/nivel" class="btn btn-secondary">Voltar</a>
    </div>

    <hr />

    <div class="d-flex justify-content-center">
        <form [formGroup]="form" (ngSubmit)="submit()" class="row">
            <div class="col-sm-11">
                <input 
                formControlName="nivel" 
                [(ngModel)]="nivel.nivel"
                id="nivel" 
                type="text" 
                class="form-control" 
                aria-label="Nível">
            </div>

            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">Atualizar</button>
            </div>

            <div *ngIf="f['nivel'].touched && f['nivel'].invalid" class="alert alert-danger">
                <div *ngIf="f['nivel'].errors">*nivel is required.</div>
            </div>
        </form>
    </div>

</div>
