<div class="d-flex text-center h-100">
    <div class="container d-flex p-3 mx-auto flex-column h-100">

        <div class="d-flex justify-content-between ">
            <h4>Cadastro de Nível</h4>
            <a routerLink="/nivel" class="btn btn-secondary">Voltar</a>
        </div>

        <hr />

        <div class="d-flex justify-content-center">
            <form [formGroup]="form" (ngSubmit)="submit()" class="row">
                <div class="col-sm-11">
                    <input 
                    formControlName="nivel" 
                    id="nivel" 
                    type="text" 
                    class="form-control" 
                    placeholder="Nível"
                    aria-label="Nível">
                </div>

                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
                <div *ngIf="f['nivel'].touched && f['nivel'].invalid" class="alert alert-danger">
                    <div *ngIf="f['nivel'].errors">*nivel is required.</div>
                </div>
            </form>
        </div>

    </div>
</div>