<div class="d-flex text-center h-100">
    <div class="container d-flex p-3 mx-auto flex-column h-100">
        <app-navbar></app-navbar>
        <main class="mt-5 px-5 h-100">
            <h1 class="my-5">
                Cadastrar Programador
            </h1>
            <a routerLink="/programador/create" class="btn btn-success">Cadastrar novo Programador</a>

            <section class="my-5">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th width="50">ID</th>
                            <th>Nome</th>
                            <th>Endereco</th>
                            <th>Sexo</th>
                            <th>Data de Nascimento</th>
                            <th>Idade</th>
                            <th>Hobby</th>
                            <th>Nível</th>
                            <th width="150" class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let programador of programadores">
                            <td>{{ programador.id }}</td>
                            <td>{{ programador.nome }}</td>
                            <td>{{ programador.endereco }}</td>
                            <td>{{ programador.sexo }}</td>
                            <td>{{ programador.data_nascimento | date : 'dd/MM/yyyy'}}</td>
                            <td>{{ programador.idade }}</td>
                            <td>{{ programador.hobby }}</td>
                            <td>{{ programador.nivel.nivel }}</td>
                            <td>
                                <a href="#" [routerLink]="['/programador/', 'edit', programador.id  ]" class="btn btn-outline-warning btn-sm px-3 mx-1" data-toggle="tooltip"
                                    data-placement="left" title="Visualizar"><i class="fa fa-edit"></i></a>
                                <button type="button" (click)="deleteProgramador(programador.id)"  class="btn btn-outline-danger btn-sm px-3 mx-1" data-toggle="tooltip"
                                    data-placement="left" title="Editar cadastro"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
        <app-footer></app-footer>
    </div>
</div>