<div class="d-flex text-center h-100">
    <div class="container d-flex p-3 mx-auto flex-column h-100">
    <app-navbar></app-navbar>
        <main class="mt-5 px-5 h-100">
            <h1 class="my-5">
                Lista de Níveis
            </h1>
            <a routerLink="/nivel/create" class="btn btn-success">Criar novo Nível</a>

            <section class="my-5">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th width="50">ID</th>
                            <th>Nível</th>
                            <th width="150" class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let nivel of niveis">
                            <td>{{ nivel.id }}</td>
                            <td>{{ nivel.nivel }}</td>
                            <td>
                                <a href="#" [routerLink]="['/nivel/', 'edit', nivel.id  ]" class="btn btn-outline-warning btn-sm px-3 mx-1" data-toggle="tooltip"
                                    data-placement="left" title="Visualizar"><i class="fa fa-edit"></i></a>
                                <button type="button" (click)="deleteNivel(nivel.id)"  class="btn btn-outline-danger btn-sm px-3 mx-1" data-toggle="tooltip"
                                    data-placement="left" title="Editar cadastro"><i class="fa fa-trash"></i></button>
                            </td>

                          </tr>
                    </tbody>
                </table>
            </section>
        </main>
        <app-footer></app-footer>
    </div>
</div>